@model FinalProject.Models.Supplier

<h2>Delete Supplier</h2>

<dl class="row">
    <dt class="col-sm-2">Supplier ID:</dt>
    <dd class="col-sm-10">@Model.SupplierId</dd>

    <dt class="col-sm-2">Name:</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Address:</dt>
    <dd class="col-sm-10">@Model.Address</dd>

    <dt class="col-sm-2">Phone Number:</dt>
    <dd class="col-sm-10">@Model.PhoneNumber</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="SupplierId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
